/* Override for Next.js font loading issues */
@font-face {
  font-family: '__Inter_Fallback_e8ce0c';
  src: local("Arial");
  ascent-override: 90.49%;
  descent-override: 22.56%;
  line-gap-override: 0.00%;
  size-adjust: 107.06%;
}

.__className_e8ce0c {
  font-family: '__Inter_e8ce0c', '__Inter_Fallback_e8ce0c';
  font-style: normal;
}

.__variable_e8ce0c {
  --font-inter: '__Inter_e8ce0c', '__Inter_Fallback_e8ce0c';
}